/*Contact Form*/
/* Animation */
.contacts{
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	-webkit-animation-fill-mode:forwards;
	opacity: 0;
}



.container-contact100 {
	-webkit-animation-name:fade;
	-webkit-animation-duration:4s;
	-webkit-animation-fill-mode:forwards;
	opacity: 0;
}

.content h1 {
	-webkit-animation-name:fade;
	-webkit-animation-duration:1.5s;
	-webkit-animation-fill-mode:forwards;
	opacity: 0;
}

.content hr {
	-webkit-animation-name:fade;
	-webkit-animation-duration:3s;
	-webkit-animation-fill-mode:forwards;
	opacity: 0;
}

@-webkit-keyframes fade{
	100%{
		opacity: 1;
	}
}