@media(min-width: 768px){

    .overlay-content a:nth-child(12){
        background-color: #fff;
        color: #000;
        padding:25px 4px 25px 4px;       
    }

    .contacts p {
    	font-size: 17px;
    	text-align: center;
    }

    
}