@media(min-width: 992px){

    .overlay-content a:nth-child(12){
        background-color: #fff;
        color: #000;
        padding:25px 4px 25px 4px;       
    }

    .content a{
        font-size: 16px;
    }

    
}