@media(min-width: 992px){

    .overlay-content a:nth-child(8){
        background-color: #fff;
        color: #000;
        padding:25px 4px 25px 4px;       
    }

    .article-content p {
    	color: #000;
    	font-family: sans-serif;
    }
}

.article-content p {
    	color: #000;
    	font-family: sans-serif;
    }



